<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vue-htm参考</title>
  </head>
  <body>
    <div id="app"></div>

    <script type="text/x-template" id="ise-ul">
      <ul class="ul">
        <li class="li" v-for="(item, index) in [1, 2, 3, 4, 5, 6, 7]" :key="index">
          <div class="item">我是第{{index}}项纪录：{{item}}</div>
        </li>
        <li :class="[{list: 12}]">我是单独的</li>
      </ul>
    </script>

    <script type="text/x-template" id="ise-area">
      <textarea v-model="text"></textarea>
    </script>

    <script type="text/x-template" id="root">
      <div id="app">
        <ise-ul-component></ise-ul-component>
        <ise-area-component></ise-area-component>
      </div>
    </script>
    
    <script src="../lib/vue.js"></script>
    <!-- <script src="../lib/vue-router.js"></script> -->
    <script src="./app.js"></script>
  </body>
</html>
