<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vue-html测试</title>
  </head>
  <body>
    <div id="app"></div>

    <script type="text/x-template" id="ise-ul">
      <ul class="ul">
        <li class="li" v-for="(item, index) in list" :key="index">
          <div class="item">我是第{{index + 1}}项纪录：{{item}}</div>
        </li>
        <li :class="[{list: 12}]">我的祖国是：{{country}}</li>
      </ul>
    </script>

    <script type="text/x-template" id="ise-area">
      <textarea v-model="text" class="textarea" placeholder="请输入">{{text}}</textarea>
    </script>

    <script type="text/x-template" id="root">
      <div id="app">
        <ise-ul-component></ise-ul-component>
        <ise-area-component></ise-area-component>
      </div>
    </script>

    <script src="../dist/vue.js"></script>
    <script src="../dist/vue-component.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
